body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style for the header */
header {
    background: #7BA287;
    color: #ffffff;
    padding:  10px;
    text-align: center;
    justify-content: center;
}

/* Fancy buttons */
.nav-button {
    background: #2F4B26;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    display: inline-block;
}

.nav-button:hover {
    background: #4B7F4B;
}

/* Main content section */
main {
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    text-align:  center;
}

/* Hero section */
section.hero {
    background-image: url('/media/hero_image.jpg');
    color:#f4f4f4;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
    font-size: 24px;
}

section.hero p {
    font-size: 20px;
    margin: 10px 5px;
}

/* Call to Action button */
a.cta-button {
    background: #2F4B26;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

/* Paragraph section */
section.paragraph {
    margin: 20px 5px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    background: #ffffff;
    padding: 20px;
}

p.imperative {
    font-size: 20px;
    font-weight: bold;
    color: #2F4B26;
    text-align: center;
    text-decoration: underline;
}

/* Call to Action section */
section.cta-trap {
    background: #7BA287;
    color: #ffffff;
    padding: 20px 40px;
    text-align: center;
    margin: 20px 0;
}





#tel-link {
    color: #eee9e9;
    text-decoration: none;
    font-size: 18px;
}


/* Footer section */
.footerbar {
    background: #2F4B26;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footlink {
    color: #ffffff;
    padding: 10px 0;
}